[submodule "webtools.common"]
	path = webtools.common
	url = ../../webtools-common/webtools.common
[submodule "webtools.common.snippets"]
	path = webtools.common.snippets
	url = ../../webtools-common/webtools.common.snippets
[submodule "webtools.common.fproj"]
	path = webtools.common.fproj
	url = ../../webtools-common/webtools.common.fproj
[submodule "webtools.common.tests"]
	path = webtools.common.tests
	url = ../../webtools-common/webtools.common.tests
[submodule "webtools.sourceediting"]
	path = webtools.sourceediting
	url = ../../sourceediting/webtools.sourceediting
[submodule "webtools.releng"]
	path = webtools.releng
	url = ../../webtools/webtools.releng
[submodule "webtools.servertools"]
	path = webtools.servertools
	url = ../../servertools/webtools.servertools
[submodule "webtools.servertools.tests"]
	path = webtools.servertools.tests
	url = ../../servertools/webtools.servertools.tests
[submodule "webtools.javaee"]
	path = webtools.javaee
	url = ../../jeetools/webtools.javaee
[submodule "webtools.servertools.docs"]
	path = webtools.servertools.docs
	url = ../../servertools/webtools.servertools.docs
[submodule "webtools.ejb"]
	path = webtools.ejb
	url = ../../jeetools/webtools.ejb
[submodule "webtools.webservices"]
	path = webtools.webservices
	url = ../../webservices/webtools.webservices
[submodule "webtools.jsf.docs"]
	path = webtools.jsf.docs
	url = ../../jsf/webtools.jsf.docs
[submodule "webtools.jsf"]
	path = webtools.jsf
	url = ../../jsf/webtools.jsf
[submodule "webtools.javaee.tests"]
	path = webtools.javaee.tests
	url = ../../jeetools/webtools.javaee.tests
[submodule "webtools.jsf.tests"]
	path = webtools.jsf.tests
	url = ../../jsf/webtools.jsf.tests
[submodule "webtools.webservices.axis2"]
	path = webtools.webservices.axis2
	url = ../../webservices/webtools.webservices.axis2
[submodule "webtools.webservices.jaxws"]
	path = webtools.webservices.jaxws
	url = ../../webservices/webtools.webservices.jaxws
[submodule "webtools.sourceediting.tests"]
	path = webtools.sourceediting.tests
	url = ../../sourceediting/webtools.sourceediting.tests
[submodule "webtools.sourceediting.xpath"]
	path = webtools.sourceediting.xpath
	url = ../../sourceediting/webtools.sourceediting.xpath
[submodule "webtools.sourceediting.xpath.tests"]
	path = webtools.sourceediting.xpath.tests
	url = ../../sourceediting/webtools.sourceediting.xpath.tests
[submodule "webtools.sourceediting.xsl"]
	path = webtools.sourceediting.xsl
	url = ../../sourceediting/webtools.sourceediting.xsl
[submodule "webtools.sourceediting.xsl.tests"]
	path = webtools.sourceediting.xsl.tests
	url = ../../sourceediting/webtools.sourceediting.xsl.tests
[submodule "webtools.dali"]
	path = webtools.dali
	url = ../../dali/webtools.dali
[submodule "webtools.jsdt"]
	path = webtools.jsdt
	url = ../../jsdt/webtools.jsdt
